body, html {
    margin: 0px;
    height: 100%;
    overflow: hidden;
    background-color: #FFF;
}

.main-container {
    display: flex; /* or inline-flex */
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}
.main-container > * {
    /*background-color: #EEE;*/
    margin: auto;
    overflow: auto;
    height: 100%;
}

.canvas-container {
    width: 60%;
}

#my_canvas {
    background-color: transparent;
    background-size: 100px 100px;    
    background-image:   repeating-linear-gradient(0deg, #CCC, #CCC 1px, transparent 1px, transparent 100px),
                        repeating-linear-gradient(-90deg, #CCC, #CCC 1px, transparent 1px, transparent 100px),
                        repeating-linear-gradient(0deg, #EEE, #EEE 1px, transparent 1px, transparent 10px),
                        repeating-linear-gradient(-90deg, #EEE, #EEE 1px, transparent 1px, transparent 10px);
    height:100%;
    margin-left: 30px;
}
.code-container {
    width: 40%;
    background-image: url('tree_bark.png');
    padding: 20px;
}
.code-container pre {
    min-height: 300px;
}

ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30px;
    background-color: #CCC;
    height: 100%;
    border-right: solid 1px #666;
}
li {
    border-bottom: solid 1px #999;
}

li i {
    display: block;
    color: #444;
    padding: 8px 0 8px 8px;
}
li.active, li:hover {
    background: #FFF;
}
